<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='verify.css')}}">
    <title>certi verification</title>
  </head>
  <body>
      <header class="try">
        <h1>Certificate Verification System(CES)</h1>
      </header>
      <section class="section-form">

        <div class="data-box">
          <form class="veri-form" action="{{url_for('index')}}" method="post">
            <label for="id" class="label-id">Enter you ID:</label>
            <br>
            <input type="text" name="id"  class="from-id" id="id" required>
            <br>
            <input type="submit" value="Verify" class="verify">


          </form>
        </div>

      </section>
  </body>
</html>
